<div class="container-fluid">
  {{#each sortedCategories as |category|}}
    <div class="col-xs-4 third">
      <div class="tile text-center">
        <h5>{{category.name}}</h5>
        <div class="category-img">
          <img src={{category.image}} class="img-responsive">
        </div>
      </div>
    </div>
  {{/each}}
</div>
